a{
	text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row { display: inline-block; }
* html .row { height: 1%; }
.row { display: block; }
.top{
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	position: relative;

}
.menu{
	position: absolute;
	top: -450%;
left: 30%;

	width: 50%;

}
.menu ul li{
	list-style: none;
	float: left;
	padding: 10px 15px;
	background-color: red;
	color: #fff;
	border: 1px solid grey;
}
.menu ul{
	margin: auto;

	width: 90%
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(font/Q_pTky3Sc3ubRibGToTAYiylde52zikAzebNtJS89aM.woff) format('woff');
}
*{
  margin:0;
  padding:0;
}

#main{
  position:relative;
  z-index:1;
  margin:0 auto;
    width:960px;
  background-color: #fff;
  background-image:-webkit-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
  background-image:-moz-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
  background-image:radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
  padding: 120px 0 600px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

h1{
  font:bold 48px 'PT Sans Narrow', sans-serif;
  color:#5e5b64;
  text-align: center;
  padding-bottom:300px;
  position:relative;
}

h1:after{
  content: '';
  background: url('../img/sprite.png') 0 0;
  width: 45px;
  height: 70px;
  position: absolute;
  left: 50%;
  bottom: -85px;
  margin-left: -23px;
}

.contener{
  height: 245px;
  color:#ccc;
  font-size:12px;
    display: block;
  position:relative;
  z-index:-2;
    font:12px/1.3 'PT Sans', sans-serif;
  background-color:#31353a;

  background-image:-webkit-linear-gradient(top, #31353a, #2f3337);
  background-image:-moz-linear-gradient(top, #31353a, #2f3337);
  background-image:linear-gradient(top, #31353a, #2f3337);
}

/* Set a width to the outermost UL and center it */

.contener > ul{
  width:960px;
  position:absolute;
  left:50%;
  bottom:0;
  margin-left:-480px;
  padding-bottom: 60px;
  z-index:-1;
}

/* The four columns of links */

.contener > ul > li{
  width:25%;
  float:left;
}

.contener ul{
  list-style: none;
}

/* The links */

.contener > ul > li ul li{
  margin-left:43px;
  text-transform: uppercase;
  font-weight:bold;
  line-height:1.8;
}

.contener > ul > li ul li a{
  text-decoration: none !important;
  color:#7d8691 !important;
}

.contener > ul > li ul li a:hover{
  color:#ddd !important;
}

/* The company logo */

.contener a.logo{
  color: #e4e4e4 !important;
  text-decoration: none !important;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  margin-left: 16px;
  display: inline-block;
  margin-top: 7px;
}

.contener a.logo i{
  font-style: normal;
  position: absolute;
  width: 60px;
  display: block;
  left: 48px;
  top: 18px;
  font-size: 12px;
  color: #999;
}

.contener a.logo:before{
  content: '';
  display: inline-block;
  background: url('../img/sprite.png') no-repeat -19px -70px;
  width: 48px;
  height: 37px;
  vertical-align: text-top;
}

/* Common styles for the four color bars */

.contener p{
  width: 90%;
  margin-right: 10%;
  padding: 9px 0;
  line-height: 18px;
  background-color: #058cc7;
  font-weight: bold;
  font-size: 14px;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  margin-bottom: 20px;
  opacity:0.9;
  cursor:default;

  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.contener > ul > li:hover p{
  opacity:1;
}

.contener p:before{
  content: '';
  display: inline-block;
  background: url('../img/sprite.png') no-repeat;
  width: 16px;
  height: 18px;
  margin: 0 12px 0 15px;
  vertical-align: text-bottom;
}


/*-------------------------
  The different colors
--------------------------*/


.contener p.home{
  background-color: #0096d6;

  background-image:-webkit-linear-gradient(top, #0096d6, #008ac6);
  background-image:-moz-linear-gradient(top, #0096d6, #008ac6);
  background-image:linear-gradient(top, #0096d6, #008ac6);
}

.contener p.home:before{
  background-position: 0 -110px;
}

.contener p.services{
  background-color: #00b274;

  background-image:-webkit-linear-gradient(top, #00b274, #00a46b);
  background-image:-moz-linear-gradient(top, #00b274, #00a46b);
  background-image:linear-gradient(top, #00b274, #00a46b);
}

.contener p.services:before{
  background-position: 0 -129px;
}

.contener p.reachus{
  background-color: #d75ba2;

  background-image:-webkit-linear-gradient(top, #d75ba2, #c75496);
  background-image:-moz-linear-gradient(top, #d75ba2, #c75496);
  background-image:linear-gradient(top, #d75ba2, #c75496);
}

.contener p.reachus:before{
  background-position: 0 -89px;
}

.contener p.clients{
  background-color: #e9ac40;

  background-image:-webkit-linear-gradient(top, #e9ac40, #d89f3b);
  background-image:-moz-linear-gradient(top, #e9ac40, #d89f3b);
  background-image:linear-gradient(top, #e9ac40, #d89f3b);
}

.contener p.clients:before{
  background-position: 0 -69px;
}


/* demo background */
body{
/*background: #200122;
background: -webkit-linear-gradient(to right, #6f0000, #200122);
background: linear-gradient(to right, #6f0000, #200122);*/
}

/* style snippet */
#thumbnail-preview-indicators {
 position: relative;
 overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
}
 #thumbnail-preview-indicators,
 #thumbnail-preview-indicators .slides,
 #thumbnail-preview-indicators .slides .slide-1, 
 #thumbnail-preview-indicators .slides .slide-2,
 #thumbnail-preview-indicators .slides .slide-3 {
 height: 480px;
 }
#thumbnail-preview-indicators .slides .slide-1 {
 background-image: url(http://bootstraptema.ru/snippets/slider/2017/thumbslider/thumbslider-1.jpg); 
}
#thumbnail-preview-indicators .slides .slide-2 {
 background-image: url(http://bootstraptema.ru/snippets/slider/2017/thumbslider/thumbslider-2.jpg);
}
#thumbnail-preview-indicators .slides .slide-3 {
 background-image: url(http://bootstraptema.ru/snippets/slider/2017/thumbslider/thumbslider-3.jpg);
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
 top: 20%;
 bottom: inherit;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
 position: relative;
 width: 100px;
 height: 8px; 
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
 position: absolute;
 top: 0;
 width: 100px;
 display: none;
 opacity: 0;
 left: 50%;
 margin-top: -80px;
 margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
 display: block;
 opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
 opacity: 1;
}
@media screen and (max-width : 480px) { 
 #thumbnail-preview-indicators .carousel-indicators li,
 #thumbnail-preview-indicators .carousel-indicators li.active {
 width: 50px;
 height: 8px;
 position: relative;
 }
 #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
 width: 50px;
 left: 50%;
 margin-top: -50px;
 margin-left: -25px;
 }
}
