a{
	text-decoration: none;
}
.top{
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	position: relative;

}
.menu{
	position: absolute;
	top: -500%;
	bottom: 0;
	margin: auto ;
	width: 100%
}
.menu ul li{
	list-style: none;
	float: left;
	padding: 10px 15px;
	background-color: red;
	color: #fff;
	border: 1px solid grey;
}
.menu ul{
	margin: auto;
	width: 90%
}